* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
}

.hero-image {
  font-size: 16px;
  line-height: 1.5rem;
  //background: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/* Navbar*/
.navbar {
  padding: 10px;
}

.navbar {
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(187, 200, 219, 1) 31%,
    rgba(151, 171, 200, 1) 64%,
    rgba(166, 183, 208, 1) 82%,
    rgba(255, 255, 255, 1) 100%
  );
}
.logo {
  max-width: 65%;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 15px;
  display: block;
  font-weight: 600;
  transition: 0.8s;
}

.navbar .btn {
  padding: 10px 25px;
  margin: 0 15px;
}

.main-menu {
  display: flex;
  font-family: "Comfortaa", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

a:hover {
  color: #b5e75d;
}

/* Hero*/
.hero-content {
  max-width: 50%;
}
.hero {
  padding-top: 7rem;
}

.hero-image {
  display: flex;
}
.bottle {
  padding-bottom: 17.7rem;
}

/* OUR STORY */
.story-text {
  display: flex;
  padding:;
}

/* Utilities */
.container-max {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-md {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Text Classes */
.text-xxxl {
  font-size: 5rem;
  line-height: 0.2;
  font-weight: 700;
  margin: 50px 0 10px;
}

.text-xxl {
  font-size: 4rem;
  line-height: 0.25;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xxl-light {
  font-size: 4rem;
  line-height: 0.25;
  font-weight: 200;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 3.2rem;
  line-height: 0.35;
  font-weight: 500;
  margin: 35px 0 25px;
}

.text-lg {
  font-size: 2.6rem;
  line-height: 1.5;
  font-weight: 400;
  margin: 30px 0 30px;
}

.text-md {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
  margin: 30px 0 30px;
}

.text-sm {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 200;
  margin: 45px 0 35px;
}
.text-xsm {
  font-size: 0.7rem;
  line-height: 2.5;
  font-weight: 200;
  margin: 25px 0 25px;
}

.comfortaa {
  font-family: "Comfortaa", sans-serif;
}

.neue {
  font-family: "Neue", sans-serif;
}
.quicksand {
  font-family: "Quicksand", sans-serif;
}

.text-green {
  color: #b0eb49;
}
.text-light {
  color: #fff;
}
.text-dark {
  color: #444;
}
.text-blue {
  color: #6482b1;
}

.btn {
  display: inline-block;
  padding: 13px 25px;
  text-decoration: none;
  color: #eee;
  border: 1px solid #fff;
  border-radius: 999px;
  border-width: 2px;
  cursor: pointer;
  text-align: center;
}

body {
  background-image: url("images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
